extends ../layout

block content
  h1 Books
  form(method="get")
    input(type="text" name="q")
    input(type="button" value="Search" onclick="this.form.submit()")
  p
    a.button(href="/books/new") Create New Book

  include pagination  
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href="/books/" + book.id title="click here to edit or delete")= book.title
          td= book.author
          td= book.genre
          td= book.year
